body {
    font-family: "Microsoft YaHei";
}

.navbar {
    border-radius: 0;
    font-size: 16px;
    color: white !important;
}

.navbar a {
    font-size: 20px;
    color: white !important;
}

#learn-sider > li:hover {
    background-color: #F4F4F4;
    cursor: pointer;
}

#learn-sider > li.active {
    background-color: black;
    border-color : #ffffff;
}

#learn-sider a {
    text-decoration: none;
    display: block;
    height: 100%;
    color: #333;
}

#learn-sider > .active i {
    color: #ffffff;
}

#learn-sider > .active > a {
    color: #ffffff;
}

.list-group-item i {
    float: right;
    display: inline-block;
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-position: -456px -72px;
    margin-top: 2px;
    margin-right: -6px;
    color: #737373;
}
.bs-docs-section {
    font-size: 16px;
    line-height: 1.75;
    margin-bottom: 1em;
    margin-bottom: 10px;
}
.bs-docs-section > p{
    text-indent:2em;
}
pre{
    margin: 0!important;
    padding: 10px!important;
    border-width:0 ;
    background: white;
    font-size: 14px;
}