body {
    font-size: 12px;
    font-family: Verdana, Microsoft YaHei;
    background: #F6F6F6;
}

::selection {
    color: #FFF;
    background: #FF6100;
}

.tarea {
    width: 99%;
    height: 220px;
    border: #e6e6e6 1px solid;
    border-color: #ddd #e6e6e6 #e6e6e6 #ddd;
    margin-bottom: 12px;
    box-shadow: inset 1px 1px 1px #eee;
    padding: 4px;
    font-size: 12px;
    line-height: 18px;
    border-radius: 2px;
}

.subbtn {
    margin-bottom: 20px;
}

.subbtn .btn {
    border: none;
    background: #FF6100;
    color: #fff;
    padding: 5px 20px;
    cursor: pointer;
}